@media (max-width: 1200px) {
    // GRID

    .grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .grid-logo {
        grid-column: 1 / span 2;
    }

    .grid-nav {
        grid-column: 3 / span 5;
    }

    .grid-search {
        grid-column-start: 8;
    }

    .grid-hero-1 {
        grid-column: 1 / span 4;
    }

    .grid-hero-2 {
        grid-column: 5 / span 4;
    }

    .grid-hero-3 {
        grid-column: 5 / span 2;
        grid-row: 2;
    }

    .grid-hero-4 {
        grid-column: 7 / span 2;
        grid-row: 2;
    }

    .grid-title {
        grid-column: 1 / span 8;
    }

    .grid-about-1 {
        grid-column: 1 / span 4;
    }

    .grid-about-2 {
        grid-column: 5 / span 4;
    }

    .grid-projects {
        grid-template-rows: repeat(3, auto);
    }

    .grid-projects-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-projects-2 {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    .grid-projects-3 {
        grid-column: 5 / span 4;
        grid-row: 1;
    }

    .grid-projects-4 {
        grid-column: 1 / span 5;
        grid-row: 2;
    }

    .grid-projects-5 {
        grid-column: 4 / span 5;
        grid-row: 3;
    }

    .grid-projects-6 {
        grid-column: 6 / span 3;
        grid-row: 2;
    }

    .grid-projects-7 {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .grid-contacts {
        grid-template-rows: repeat(2, auto);
    }

    .grid-contacts-block {
        grid-column: 1 / span 5;
        grid-row: 2;
    }

    .grid-map {
        grid-column: 1 / span 5;
        grid-row: 1 / span 2;
    }

    .grid-contacts-form {
        grid-column: 6 / span 3;
        grid-row: 1 / span 2;
    }

    .grid-footer-1 {
        grid-column: 1 / span 3;
    }

    .grid-footer-2 {
        grid-column: 4 / span 3;
    }

    .grid-footer-3 {
        grid-column: 7 / span 2;
    }

    // MAIN
    .about {
        &__form {
            flex-direction: column;
            align-items: flex-start;
        }

        &__input {
            margin: 0 0 20px 0;
        }
    }
}

@media (max-width: 920px) {

    // GRID
    .grid-header {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-search {
        grid-column-start: 6;
    }

    .grid-projects {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .grid-projects-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-projects-2 {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    .grid-projects-3 {
        grid-column: 5 / span 2;
        grid-row: 1;
    }

    .grid-projects-4 {
        grid-column: 1 / span 6;
        grid-row: 2;
    }

    .grid-projects-5 {
        grid-column: 1 / span 6;
        grid-row: 4;
    }

    .grid-projects-6 {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .grid-projects-7 {
        grid-column: 4 / span 3;
        grid-row: 3;
    }

    .grid-contacts {
        grid-template-rows: repeat(3, auto);
    }

    .grid-contacts-block {
        grid-column: 1 / span 8;
    }

    .grid-map {
        grid-row: 1 / span 2;
        grid-column: 1 / span 8;
    }

    .grid-contacts-form {
        grid-row: 3;
        grid-column: 1 / span 6;
    }

    .grid-footer-1 {
        grid-column: 1 / span 4;
    }

    .grid-footer-2 {
        display: none;
    }

    .grid-footer-3 {
        grid-column: 6 / span 3;
    }

    // MAIN

    .header {
        &__nav {
            display: none;
            &_tablet {
                display: block;
                width: 100%;
            }
        }


        &__burger {
            display: none;
        }
    }

    .grid-header-bottom {
        display: flex;
        grid-template-rows: 45px;
        height: 45px;
        align-items: center;
        background-color: $color-4A4A4A;
        padding: 13px 27px;
    }

    .hero {
        &__block {
            padding: 28px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }
}

@media (max-width: 640px) {

    // GRID
    .grid-header-bottom {
        padding: 4px 27px;

        .header-list {
            display: block;
        }
    }

    .grid-hero {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .grid-hero-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-hero-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .grid-hero-3 {
        grid-column: 1 / span 1;
        grid-row-start: 3;
    }

    .grid-hero-4 {
        grid-column: 2 / span 1;
        grid-row-start: 3;
    }

    .grid-about {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);

        .grid-title {
            grid-column: 1;
        }
    }

    .grid-about-1 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .grid-about-2 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    // MAIN
    
    .header {
        // &__list_mobile {
        //     display: none;
        // }
        &__nav_tablet {
            display: none;
        }
        &__nav_mobile {
            display: block;
            height: 100%;
            padding-bottom: 36px;
        }

        &__menu {
            // display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 80px;
            left: 0;
            background-color: $color-202020;
            z-index: 30;
            padding: 14px 27px 36px 27px;
        }
        &__list_mobile {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
        &__item:last-child {
            margin-top: auto;
        }

        &__menu-cls {
            @include btnCls;
            margin-bottom: 16px;
        }

        &__burger {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            background-color: transparent;
            font-size: 0;
            padding: 0;
            &:hover {
                filter:brightness(10%) ;
                background-color: transparent;
            }
            &:focus-visible {
                border: none;
                outline: 0;
            }
        }
    }
    .about {
        &__descr {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 560px) {
    .header {
        &__search-form {
            width: 100%;
            padding: 20px 21px;
        }
    }
}
@media (max-width: 420px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    // GRID
    .grid-header {
        grid-template-rows: 70px;
    }

    .grid-logo {
        width: 112px;
        height: auto;
    }

    .grid-title {
        grid-column: 1 / span 2;
    }

    .grid-projects {
        grid-template-rows: repeat(7, auto);
        gap: 25px;
    }

    .grid-projects-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-projects-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .grid-projects-3 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .grid-projects-4 {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    .grid-projects-5 {
        grid-column: 1 / span 2;
        grid-row: 7;
    }

    .grid-projects-6 {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .grid-projects-7 {
        grid-column: 1 / span 2;
        grid-row: 6;
    }

    .grid-contacts-block {
        grid-column: 1 / span 2;
    }

    .grid-map {
        height: 629px;
        grid-column: 1 / span 2;
    }

    .grid-contacts-form {
        grid-column: 1 / span 2;
    }

    .grid-footer {
        grid-template-rows: repeat(2, auto);
    }

    .grid-footer-1 {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: center;
    }

    .grid-footer-3 {
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
    }

    // MAIN
    .container {
        padding: 0 21px;
    }

    button {
        font-size: 14px;
    }

    input {
        font-size: 14px;
    }

    .header {
        margin-bottom: 30px;

        &__search {
            svg {
                width: 20px;
                height: 20px;
            }
        }
        &__search-form {
            height: 70px;
        }
        &__menu {
            top: 70px;
            padding: 14px 21px 36px 21px;
        }
    }

    .hero {
        &__link {
            font-size: 12px;
            top: 5px;
            right: 5px;
        }

        &__author {
            font-size: 14px;
        }

        &__title {
            font-size: 24px;
        }

        &__subtitle {
            font-size: 18px;
        }
    }

    .about {
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__descr {
            font-size: 14px;
            line-height: 25px;
        }
    }

    .projects {
        &__title {
            font-size: 18px;
        }

        &__subtitle {
            width: 100%;
        }

        &__descr {
            width: 100%;
            height: 4em;
            padding-top: 16px;
            -webkit-line-clamp: 2;
        }

        &__preview {
            justify-content: flex-end;

            p {
                width: 100%;
                margin-bottom: 16px;
                -webkit-line-clamp: 3;
            }
        }

        &__time {
            padding: 0;
        }
    }

    .contacts {
        .container {
            padding: 0;
        }

        &__title {
            padding: 0 21px;
            font-size: 18px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__descr {
            font-size: 14px;
        }

        &__name {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__address {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
        }

        &__block {
            padding: 21px;
        }

        &__form-block {
            width: 100%;
            padding: 0 21px;
        }
    }

    .footer {
        &__block {
            &:first-child {
                align-items: center;

                svg {
                    width: 120px;
                    height: auto;
                }
            }
        }
    }
}
.active {
    @include visible;
    display: flex;
}
.inactive {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    // @include hidden;
}
