$color-FF6E30: #FF6E30;
$color-BC572B: #BC572B;
$color-CE4307: #CE4307;
$color-F06666: #F06666;
$color-FF3030: #FF3030;
$color-FFD4C1: #FFD4C1;
$color-FFFFFF: #FFFFFF;
$color-E9E9E9: #E9E9E9;
$color-CACACA: #CACACA;
$color-999999: #999999;
$color-4A4A4A: #4A4A4A;
$color-202020: #202020;
$transitionTimeFunc: ease-in;
$transitionDuration: 0.3s;
$transitionProp: all;
$mb68: 68px;

